/.temp
/.temp/*
/build/
/build/*
/tools/apktool/framework_installed
/tools/apktool/framework_installed/*apk
/tools/data/repo_download/*
/tools/imgtools/__pycache__
/tools/imgtools/__pycache__/*
build.sh
tr.sh
